[submodule "toml11"]
	path = include/toml11
	url = https://github.com/ToruNiina/toml11
	shallow = true
[submodule "json"]
	path = include/json
	url = https://github.com/nlohmann/json
	shallow = true
[submodule "include/Obfuscate"]
	path = include/Obfuscate
	url = https://github.com/adamyaxley/Obfuscate
[submodule "server"]
	path = server
	url = https://github.com/oakrc/imsc-server
